<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marcocipriani01.iparcos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="marcocipriani01.iparcos.IPARCOSApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name="marcocipriani01.iparcos.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="marcocipriani01.iparcos.AboutActivity"
            android:label="@string/menu_about"
            android:screenOrientation="fullUser"
            android:theme="@style/SimpleActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marcocipriani01.iparcos.MainActivity" />
        </activity>
        <activity
            android:name="marcocipriani01.iparcos.ServersActivity"
            android:label="@string/host_manage"
            android:screenOrientation="fullUser"
            android:theme="@style/SimpleActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marcocipriani01.iparcos.MainActivity" />
        </activity>
        <activity
            android:name="marcocipriani01.iparcos.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />
    </application>

</manifest>